body {
    background: lightslategray;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100px;
    width: 835px;
    border-radius: 10px;
    margin: 0 auto 10px;
}

.scoreboard > div {
    display: flex;
}

#black-score-logo {
    display: inline-block;
    background: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#black-score {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}

#white-score-logo {
    display: inline-block;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#white-score {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}

.board {
    display: inline-grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    column-gap: 5px;
    row-gap: 5px;
    background-color: black;
    border: 5px solid black;
    margin: 0 auto;
}

.white-piece {
    background: white;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: 10%;
}

.black-piece {
    background: black;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: 10%;
}

.no-piece {
    
}

.square {
    background-color: green;
}